nav {
    width: 200px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    user-select: none;
    background-color: #e6e0d8;
    > div {
        height: 50px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        padding-left: 20px;
        background-color: #808080;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            height: 50px;
            cursor: pointer;
            list-style: none;
            font-weight: bold;
            line-height: 50px;
            padding-left: 10px;
            border-top: solid 1px grey;
            &:last-child {
                border-bottom: solid 1px grey;
            }            
            &:hover, .selected {
                color: white;
                background-color: black;
            }
        }
    }
}