// Palette of colors cappuccino
$lightBrown: #be9b7b;
$normalBrown: #4b3832;
$darkBrown: #3c2f2f;
$creamRed: #854442;
$creamWhite: #fff4e6;

body {
    margin: 0;
    font-family: raleway;    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}